## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Kruisfontein,ZA,54.88,moderate rain,-34.0033,24.7314,Oyster Bay House Rental
1,5,Mataura,NZ,41.49,light rain,-46.1927,168.8643,Ellie's Villa
2,8,Port Lincoln,AU,57.90,clear sky,-34.7333,135.8667,Port Lincoln Hotel
3,9,Hobart,AU,45.27,clear sky,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
4,10,Beidao,CN,60.75,overcast clouds,34.5686,105.8933,Shell Tianshui Maiji District Erma Road Walkin...

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Atherton']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Atherton']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Biggar']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Bridlington']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Tamworth']

In [6]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
162,404,Biggar,GB,61.29,scattered clouds,55.6167,-3.5167,The Mill Bed and Breakfast

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np
start = vacation_start[{'Lat','Lng'}].to_numpy()[0]
end = vacation_end[{'Lat','Lng'}].to_numpy()[0]
stop1 = vacation_stop1[{'Lat','Lng'}].to_numpy()[0]
stop2 = vacation_stop2[{'Lat','Lng'}].to_numpy()[0]
stop3 = vacation_stop3[{'Lat','Lng'}].to_numpy()[0]
print(start,end, stop1,stop2,stop3)

[53.5237 -2.4935] [53.5237 -2.4935] [55.6167 -3.5167] [54.0831 -0.1919] [52.634  -1.6959]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
trip = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [89]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,200,Atherton,GB,66.29,overcast clouds,53.5237,-2.4935,The Mercury Motel
1,404,Biggar,GB,61.29,scattered clouds,55.6167,-3.5167,The Mill Bed and Breakfast
2,300,Bridlington,GB,65.89,broken clouds,54.0831,-0.1919,Expanse Bridlington Seafront Hotel
3,513,Tamworth,GB,65.84,broken clouds,52.6340,-1.6959,Drayton Manor Hotel

In [90]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [91]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))